.portfolio {
  padding: 62px 0 47px;
  background-color: #2d303a;
  border-bottom: solid 6px #323746 ;
}

.portfolio__title {
  font-family: 'Lato Black', sans-serif;
  font-size: 3rem;
  margin-bottom: 22px;
  color: #666d89;
}

.portfolio__text {
  font-family: 'Lato Regular', sans-serif;
  font-size: 1.8rem;
  margin-bottom: 15px;
  color: #767e9e;
  letter-spacing: -0.22px;
}

.portfolio__tabs {
  margin-left: 2px;
  margin-bottom: 20px;
}

.portfolio__list {
  display: flex;
}

.portfolio__list_item {
  font-family: 'Lato Regular', sans-serif;
  font-size: 1.2rem;
  color: #767e9e;
  border: 1px solid #666d89;
  border-radius: 5px;
  margin-right: 9.7px;
  padding: 2px 6px;
  cursor: pointer;
}

.portfolio__list_item-selected {
  border: 1px solid #c5c5c5;
  color: #c5c5c5;
}

.portfolio__list_item:hover {
  border-color: #c5c5c5;
  color: #c5c5c5;
}

.portfolio__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 621px;
  overflow: hidden;
  max-width: 940px;
}

.portfolio__img {
  margin-bottom: 20px;
  max-width: 220px;
  max-height: 187px;
  overflow: hidden;
}

.about {
  padding: 59px 0 68px;
  background-color: #f2f2f2;
  border-bottom: solid 6px #fff ;
}

.about__title {
  font-family: 'Lato Black', sans-serif;
  font-size: 3rem;
  color: #666d89;
  margin-bottom: 18px;
}

.about__text {
  font-family: 'Lato Light', sans-serif;
  font-size: 1.8rem;
  color: #767e9e;
  line-height: 30px;
  text-align: justify;
  max-width: 940px;
  margin-bottom: 44px;
}

.about__cards {
  display: flex;
  justify-content: space-between;
  width: 940px;
}


.about__name {
  font-family: "Lato Black", sans-serif;
  font-size: 1.8rem;
  letter-spacing: -0.2px;
  margin-top: 13px;
  color: #666d89;
}

.about__short {
  font-family: 'Lato Regular', sans-serif;
  font-size: 1.2rem;
  color: #767e9e;
  line-height: 21px;
  margin: 8px 0 23px;
  text-align: justify;
}

.adam__short {
  letter-spacing: -0.07px;
}

.about__card {
  width: 300px;
}

.social-icons {
  margin-top: 24px;
  padding-left: 1px;
}

.social-icons .icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #666d89;
  border-radius: 50%;
}

.icon.icon_facebook {
  background-image: url('./assets/img/about/icon_facebook.svg');
}

.icon.icon_google-plus {
  background-image: url('./assets/img/about/icon_google-plus.svg');
  background-position-x: 7px;
}

.icon.icon_twitter {
  background-image: url('./assets/img/about/icon_twitter.svg');
  background-position-x: 7px;
}

.icon.icon_linkedin {
  background-image: url('./assets/img/about/icon_linkedin.svg');
  background-position-y: 7px;
}

.social-icons .icon:hover {
  opacity: 0.5;
}

.social-icons .icon:not(:first-child) {
  margin-left: 5px;
}